{#
/**
 * @file certificate.html.twig
 * Default theme implementation to present Certificate data.
 *
 * This template is used when viewing Certificate pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_certificate()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('certificate') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
